
{# src/Rc/TeamateBundle/Resources/views/Default/index.html.twig #}

{% extends "RcTeamateBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}


    <!-- bandeau d'entete-->
    <div id="banniere_rechercher">

        <div id="banniere_rechercher_gauche">

            <img src="{{ asset('bundles/rcteamate/images/loupe.png') }}" alt="Loupe pour trouver un match"/>

            <h2> Trouver un match près de chez vous </h2>

            <form id="search_match" name="search_match" method="post">
                <input type="hidden" name="action" value="search_match">
                <p>
                    <input type="search" placeholder="Dans quelle ville voulez-vous jouer ?" id="search"/>
                    <input type="submit" value="Rechercher" id="submit"/>
                </p>

            </form>

        </div>

        <img src="{{ asset('bundles/rcteamate/images/ou.png') }}" alt="Ou" id="ou"/>

        <div id="banniere_rechercher_droite">

            <img src="{{ asset('bundles/rcteamate/images/Plus.png') }}" alt="Logo organiser votre match" />

            <h2> Organiser votre match </h2>

            <a class="btn btn-primary" href="{{ path('game_new') }}" style="margin: auto;display: block;width: inherit;">Organiser</a>

        </div>


    </div>
    <!--fin du bandeau d'entete-->

    {{ render(controller("RcTeamateBundle:Game:latest")) }}



{% endblock %}