
<form id="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}

    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}


    {{ form_rest(form) }}

    <button type="submit">Inscription</button>


</form>