
<div class="wrap">

    <section>

        <h3> Les Matchs aujourd'hui </h3>

        {% for entity in entities %}
            <a href="match/{{ entity.id }}">
                <article id='match1'>
                    <figure>

                        <div id='trouver_marche_description'>
                            <h4>{{ entity.format }} - {{ entity.pitch.type }}</h4>
                            <p>
                                {{ entity.pitch.center.name }}
                                <br>Le {{ entity.startdate }}
                                <br/>
                                <br/>Inscriptions avant le {{ entity.limitdate }}
                            </p>
                        </div>

                        <div id='trouver_places'>
                            <p id='casse_les_couilles'>
                                <span>{{ entity.priceperplayer }}</span>
                                <br/>par joueur
                            </p>
                        </div>

                    </figure>
                </article>
            </a>
        {% else %}
            <p>Pas de match</p>
        {% endfor %}


    </section>
</div>